@font-face {
    font-family: 'TKT';
    src: url('../fonts/TKT-Medium.eot');
    src: url('../fonts/TKT-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TKT-Medium.woff2') format('woff2'),
        url('../fonts/TKT-Medium.woff') format('woff'),
        url('../fonts/TKT-Medium.ttf') format('truetype'),
        url('../fonts/TKT-Medium.svg#TKT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TKT';
    src: url('../fonts/TKT-Regular.eot');
    src: url('../fonts/TKT-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TKT-Regular.woff2') format('woff2'),
        url('../fonts/TKT-Regular.woff') format('woff'),
        url('../fonts/TKT-Regular.ttf') format('truetype'),
        url('../fonts/TKT-Regular.svg#TKT-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
